## Importing pandas

### Bắt đầu và kiểm tra thiết lập pandas của bạn

Mức độ: *easy* 

**1.** Import pandas dưới bí danh `pd`.

In [1]:
import pandas as pd

**2.** In phiên bản pandas đã được nhập.

In [2]:
print(pd.__version__)

2.2.2

**3.** In ra tất cả thông tin *phiên bản* của các thư viện mà thư viện pandas yêu cầu.

In [3]:
print(pd.show_versions())

INSTALLED VERSIONS
------------------
commit                : d9cdd2ee5a58015ef6f4d15c7226110c9aab8140
python                : 3.12.7.final.0
python-bits           : 64
OS                    : Windows
OS-release            : 11
Version               : 10.0.26100
machine               : AMD64
processor             : AMD64 Family 23 Model 96 Stepping 1, AuthenticAMD
byteorder             : little
LC_ALL                : None
LANG                  : None
LOCALE                : English_United States.1258

pandas                : 2.2.2
numpy                 : 1.26.4
pytz                  : 2024.1
dateutil              : 2.9.0.post0
setuptools            : 75.1.0
pip                   : 24.2
Cython                : None
pytest                : 7.4.4
hypothesis            : None
sphinx                : 7.3.7
blosc                 : None
feather               : None
xlsxwriter            : None
lxml.etree            : 5.2.1
html5lib              : None
pymysql               : None
psycopg2              : None
jinja2                : 3.1.4
IPython               : 8.27.0
pandas_datareader     : None
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : 4.12.3
bottleneck            : 1.3.7
dataframe-api-compat  : None
fastparquet           : None
fsspec                : 2024.6.1
gcsfs                 : None
matplotlib            : 3.9.2
numba                 : 0.60.0
numexpr               : 2.8.7
odfpy                 : None
openpyxl              : 3.1.5
pandas_gbq            : None
pyarrow               : 16.1.0
pyreadstat            : None
python-calamine       : None
pyxlsb                : None
s3fs                  : 2024.6.1
scipy                 : 1.13.1
sqlalchemy            : 2.0.34
tables                : 3.10.1
tabulate              : 0.9.0
xarray                : 2023.6.0
xlrd                  : None
zstandard             : 0.23.0
tzdata                : 2023.3
qtpy                  : 2.4.1
pyqt5                 : None
None

## DataFrame

### Một số thói quen cơ bản để lựa chọn, sắp xếp, thêm và tổng hợp dữ liệu trong DataFrames

Mức độ khó: *easy*

Chú ý: nhớ import numpy sử dụng:
```python
import numpy as np
```

Hãy xem xét Dictionary Python `data` và list Python `labels` sau:

``` python
data = {'animal': ['snake', 'cat', 'snake', 'dog', 'snake', 'cat', 'snake', 'cat', 'dog', 'cat'],
        'age': [3, 3.5, 0.5, np.nan, 6, 2.5, 4.5, np.nan, 4, 2],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```
(Đây chỉ là một số dữ liệu vô nghĩa mà tác giả tạo ra với chủ đề về động vật và những chuyến đi khám bác sĩ thú y.)

**4.** Tạo một DataFrame `df` từ từ điển `data` có chỉ mục `labels`.

In [36]:
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**5.** Hiển thị tóm tắt thông tin cơ bản về DataFrame này và dữ liệu của nó (*gợi ý: chỉ có một phương thức có thể được gọi trên DataFrame*).

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

**6.** Trả về 3 hàng đầu tiên của DataFrame `df`.

In [6]:
print(df.iloc[0:3])

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

**7.** Chỉ chọn các cột 'động vật' và 'tuổi' từ DataFrame `df`.

In [9]:
print(df[['animal', 'age']])

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

**8.** Chọn dữ liệu ở hàng `[3, 4, 8]` *và* ở cột `['animal', 'age']`.

In [10]:
print(df.loc[['d', 'e', 'i'], ['animal', 'age']])

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

**9.** Chỉ chọn những hàng có số lượt visits lớn hơn 3.

In [11]:
print(df[df['visits']>3])

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

**10.** Chọn những hàng có age bị thiếu dữ liệu, i.e. `NaN`.

In [12]:
print(df[df['age'].isna()])

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

**11.** Chọn những hàng có animal là cat *và*  age nhỏ hơn 3.

In [13]:
print(df[(df['animal']=='cat') & (df['age'] < 3)])

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

**12.** Chọn những hàng có age nằm giữa 2 và 4 (bao gồm).

In [14]:
print(df[(df['age'] >= 2) & (df['age']<=4)])

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

**13.** Thay đổi age ở hàng 'f' thành 1.5.

In [16]:
df.loc['f', 'age'] =1.5
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**14.** Tính tổng tất cả số lần visits trong `df`.

In [17]:
print(df['visits'].sum())

19

**15.** Tính độ tuổi trung bình của mỗi loài động vật khác nhau trong `df`.

In [19]:
tuoitb = df.groupby('animal')['age'].mean()
print(tuoitb)

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

**16.** Thêm một hàng mới 'k' vào `df` với giá trị bạn chọn cho mỗi cột. Sau đó xóa hàng đó để trả về DataFrame gốc.

In [20]:
df.loc['k'] = ['cat', 1, 1, 'no']
print(df)
df = df.drop('k')
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no
k    cat  1.0       1       no
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**17.** Đếm số lượng của từng loại động vật trong `df`.

In [21]:
soluong = df['animal'].value_counts()
print(soluong)

animal
cat      4
dog      4
snake    2
Name: count, dtype: int64

**18.** Sắp xếp `df` trước tiên theo các giá trị trong 'age' theo thứ tự *giảm dần (decending)*, sau đó theo giá trị trong cột 'visits' theo thứ tự *tăng dần* (do đó, hàng `i` phải là đầu tiên và hàng `d` phải là cuối cùng).

In [22]:
sort_df = df.sort_values(by=['age', 'visits'], ascending=[False, True])
print(sort_df)

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

**19.** Cột 'priority' chứa các giá trị 'yes' và 'no'. Thay thế cột này bằng một cột giá trị boolean: 'yes' phải là `True` và 'no' phải là `False`.

In [23]:
df_true_false = df['priority'] = df['priority'].replace({'yes': True, 'no': False})
print(df_true_false)

a     True
b     True
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: priority, dtype: bool

C:\Users\tanye\AppData\Local\Temp\ipykernel_12780\2889476492.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_true_false = df['priority'] = df['priority'].replace({'yes': True, 'no': False})

**20.** Trong cột 'animal', hãy đổi mục 'snake' thành 'python'.

In [24]:
df_snake_thanh_python = df.loc[df['animal'] == 'snake', 'animal'] = 'python'
print(df_snake_thanh_python)

python

**21.** Đối với mỗi loại động vật và mỗi số lần thăm khám, hãy tìm độ tuổi trung bình. Nói cách khác, mỗi hàng là một con vật, mỗi cột là một số lần thăm khám và các giá trị là độ tuổi trung bình (*gợi ý: sử dụng pivot table*).

In [25]:
Taobang_df = df.groupby(['animal', 'visits'])['age'].mean().unstack()
print(Taobang_df)

visits    1    2     3
animal
cat     2.5  NaN  2.25
dog     3.0  6.0   NaN
python  4.5  0.5   NaN

## DataFrames: vượt ra ngoài những điều cơ bản

### Khó hơn một chút: bạn có thể cần kết hợp hai hoặc nhiều phương pháp để có được câu trả lời đúng

Độ khó: *medium*

Phần trước đã giới thiệu một số thao tác DataFrame cơ bản nhưng thiết yếu. Dưới đây là một số cách bạn có thể cần cắt dữ liệu của mình, nhưng không có phương pháp "sẵn có" nào.

**22.** Bạn có một DataFrame `df` với một cột 'A' gồm các số nguyên. Ví dụ:
```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

Làm thế nào để lọc ra các hàng chứa cùng số nguyên với hàng ngay phía trên?

Bạn sẽ thấy một cột chứa các giá trị sau:

```python
1, 2, 3, 4, 5, 6, 7
```

In [26]:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 6, 7]})
df_loc_hang_cung_songuyen = df[df['A'] != df['A'].shift()]
print(df_loc_hang_cung_songuyen)

   A
0  1
1  2
3  3
4  4
5  5
7  6
8  7

**23.** Cho một DataFrame các giá trị số, chẳng hạn
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

Làm thế nào để trừ giá trị trung bình của hàng khỏi mỗi phần tử trong hàng?

In [28]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df_subvals = df.sub(df.mean(axis=1), axis=0)
print(df_subvals)

          0         1         2
0  0.066674 -0.264826  0.198153
1  0.131273  0.294892 -0.426166
2  0.345587 -0.160408 -0.185179
3 -0.209809 -0.179588  0.389397
4 -0.019002 -0.181964  0.200966

**24.** Giả sử bạn có DataFrame với 10 cột số thực, ví dụ:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Cột số nào có tổng nhỏ nhất? Trả về nhãn của cột đó.

In [35]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
column_with_min_sum = df.sum().idxmin()
print(df)
print("Cột có tổng nhỏ nhất: ",column_with_min_sum)

          a         b         c         d         e         f         g  \
0  0.397206  0.842972  0.995849  0.684366  0.661734  0.267238  0.975714
1  0.039509  0.164846  0.518745  0.518545  0.163451  0.054165  0.122248
2  0.475333  0.324672  0.007152  0.425113  0.272378  0.455234  0.086057
3  0.042088  0.068274  0.561501  0.571206  0.228344  0.971759  0.581484
4  0.496810  0.346882  0.606852  0.725336  0.375759  0.650412  0.512067

          h         i         j
0  0.562375  0.241557  0.810590
1  0.021411  0.068759  0.199326
2  0.290384  0.819889  0.907903
3  0.217906  0.107445  0.172262
4  0.396995  0.676560  0.336388
Cột có tổng nhỏ nhất:  a

**25.** Làm thế nào để đếm số lượng hàng duy nhất mà một DataFrame có (tức là bỏ qua tất cả các hàng trùng lặp)? Khi nhập, hãy sử dụng DataFrame gồm số không và số một với 10 hàng và 3 cột.

```python
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))
```

In [32]:
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))
unique_rows_count = df.drop_duplicates().shape[0]
print(df)

print(unique_rows_count)

   0  1  2
0  0  1  0
1  1  0  1
2  1  1  1
3  0  1  1
4  1  0  1
5  1  1  0
6  1  1  0
7  0  1  0
8  1  0  1
9  1  0  0
6